@import "tailwindcss";



/* 
*{
  box-sizing: border-box;
}

body{
  background-color: #f0f0f0;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.kalkulator{
  background-color: #fff;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.kalkulator-screen{
  height: 100px;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.kalkulator-display{
  width:100%;
  height: 90%;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 36px;
  text-align: right;
  outline: none;
}

.kalkulator-keys{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button{
  height: 60px;
  background-color: #eaeaeaea;
  color: black;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover{
  background-color: #d4d4d4;
}

.operator {
  background-color: #f1c40f;
}

.equal-sign{
  background-color: #2ecc71;
}

.zero{
  grid-column: span 2;
}

.all-clear{
  background-color: #e74c3c;
} */
